.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  flex-grow: 1;
}

.page__main--spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.places__sorting-arrow {
  top: 50%;
  transition: transform 150ms linear;
  transform: translateY(-50%);
}

.places__sorting-type--active .places__sorting-arrow {
  transform: translateY(-50%) rotate(180deg);
}
